.gf-wrap {
  max-width: 880px;
}

.gf-progress {
  background: #f1f1f1;
  border-radius: 8px;
  height: 10px;
  margin: 0 0 16px;
  overflow: hidden;
}

.gf-progress > span {
  display: block;
  height: 100%;
  background: #0073aa;
  width: 0;
  transition: width 0.3s;
}

.gf-field {
  margin: 14px 0;
  gap: 8px;
  display: grid;
}

.gf-field label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 15px;
}

.gf-total.gfield label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 13px;
  text-transform: uppercase;
  color: #7a7a7a;
}

.gf-field input[type="text"],
.gf-field input[type="email"],
.gf-field input[type="number"],
.gf-field input[type="tel"],
.gf-field input[type="date"],
.gf-field select,
.gf-field textarea {
  width: 100%;
  max-width: 100%;
  appearance: textfield;
  padding: 5px 10px;
}

.gf-error-message {
  color: #b32d2e;
  font-size: 13px;
  margin-top: 6px;
}

.gf-field.has-error input,
.gf-field.has-error select,
.gf-field.has-error textarea {
  border-color: #b32d2e;
}

.gf-actions {
  display: flex;
  gap: 15px;
  margin-top: 16px;
}

.gf-actions button,
.gf-actions button:hover {
  background: #61ce70 !important;
  color: white !important;
  border: none !important;
  min-width: 145px !important;
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.req {
  color: #b32d2e;
}

.gf-inline-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.gf-inline-group label {
  font-weight: 400;
}

.gf-inline-group.name {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 600px) {
  .gf-inline-group.name {
    grid-template-columns: 1fr;
  }
}

.gf-inline-group legend,
legend {
  display: inline-block;
  color: #7a7a7a;
  font-size: 16px !important;
  font-weight: 700;
  /* margin-bottom: 8px; */
  padding: 0;
}

.gf-field.gf-type-radio .gf-inline-group {
  display: block;
}

.apply-coupon-btn {
  background: #61ce70 !important;
  color: white !important;
  border: none !important;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  right: 3px;
  position: absolute;
  top: 2px;
  padding: 5px 10px;
  outline: none;
}

.gf-coupon-input {
  position: relative;
}

.gf-coupon-input button {
  right: 0;
  position: absolute;
  top: 0;
}
